body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
}

body {
    -webkit-user-select: none;
}

button {
    -webkit-app-region: no-drag;
}

/**
 * Keep the image pixelad when scale.
 */
img {
    image-rendering: pixelated;
}

#stage {
    display: block;
    margin: 0 auto;
    width: @screen-width;
}

body.in-browser {
    #stage {
        margin-top: 100px;
    }

    #fps-debug {
        top: 100px;
    }

    #github {
        display: block;
    }
}
