@path-to-images: "../src/resources/images";

@background-color: #fff;
@background-image: url("@{path-to-images}/background_01.jpg");

@title-color: #fff;
@title-size: 10em;

@screen-width: 1280px;
@screen-height: 720px;

@floor-bgcolor: rgb(128,128,128);

/* rgb(96,96,96); */
@celing-bgcolor: #000;

@minimap-bgcolor: #fff;
@minimap-opacity: 0.3;
