#minimap-container {
    top: 378px;
    position: absolute;
    right: 135px;
    display: none;

    #minimap {
         position : absolute;
         background-color: @minimap-bgcolor;
         opacity: @minimap-opacity;
    }

    #minimapobjects {
         position : absolute;
    }

}
