#minimap-container {
    top: 295px;
    position: fixed;
    left: 585px;
    display: none;

    #minimap {
         position : absolute;
         background-color: @minimap-bgcolor;
         opacity: @minimap-opacity;
    }

    #minimapobjects {
         position : absolute;
    }

}
