#floor {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: @floor-bgcolor;
    z-index: -10000000;
}

#ceiling {
    position: absolute;
    width: @screen-width;
    height: calc(@screen-height / 2);
    background-color: @celing-bgcolor;
    z-index: -10000000;
}

#screen {
    position: relative;
    width: @screen-width;
    height: @screen-height;
    overflow: hidden;
}

#github {
    display: none;
    margin-top: 30px;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    position:absolute;
    width: @screen-width;
    a {
        text-decoration: none;
        color: rgb(64,120,192);
        margin-left: 10px;
        &:hover {
            text-decoration: underline;
        }
    }
}
