#floor {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: @floor-bgcolor;
    z-index: -10000000;
}

#ceiling {
    position: absolute;
    width: @screen-width;
    height: calc(@screen-height / 2);
    background-color: @celing-bgcolor;
    z-index: -10000000;
}

#screen {
    position: relative;
    width: @screen-width;
    height: @screen-height;
    overflow: hidden;
}
