<div id="screen">
    <div id="floor"></div>
    <div id="ceiling"></div>
</div>
<div id="github">
    <p>Source: <a href="https://github.com/madureira/wolfenstein" target="_blank">https://github.com/madureira/wolfenstein</a></p>
</div>
